.card {
  width: 300px;
  height: 200px;
  color: #b7e92d;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-top: 70px;
  margin-left: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  font-size: 20px;
}
