.search-bar {
  display: flex;
  flex-wrap: wrap;
  color: #666666;
  align-items: center;
  text-align: center;
  justify-content: center;
}

label {
  display: block;
  text-align: center;
  font-size: 27px;
  line-height: 40px;
  margin-bottom: 30px;
}

.search-input {
  width: 400px;
  height: 40px;
  font-size: 23px;
  color: #666666;
  padding-left: 15px;
  border: 1px solid;
  border-color: #666666;
  border-radius: 5px 0px 0px 5px;
}

.search-button {
  height: 42px;
  width: 120px;
  background: #cd6326;
  border: #cd6326;
  border-radius: 0px 5px 5px 0px;
  font-size: 23px;
  color: #f7f7f7;
  cursor: pointer;
}

form:hover,
form:focus,
form:active {
  opacity: 0.75;
}
