.details-title {
  text-align: center;
}

.details-subtitle {
  //   display: flex;
  margin-right: 10px;
  margin-left: 10px;
}

.details-inf {
  font-weight: bold;
  margin-bottom: 10px;
}

.details-subtitle_inf {
  text-align: justify;
  margin-bottom: 5px;
}

.not-found-link-home {
  text-align: center;
  margin-top: 20px;
}
